<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>Cool Spots Watts</title>
        <style>
          #map {
            height: 400px;
            width: 100%;
           }
        </style>        
    </head>
    <body>
        <h1>Cool Spots Watts</h1>
         <form method= "POST" action= "/">
            <button id="submitbutton" type= "submit">See Spots</button>
        </form>
        <div id="map"></div>
       
    </body>
</html>